<!DOCTYPE html>
<html>
  <head>
    <title>GPTX</title>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <form>
      <textarea id="input" name="users-input" rows="4" cols="50"></textarea>
      <button
        hx-post="/submittingUserInput"
        hx-target="#output"
        hx-trigger="click"
        hx-include="[name='users-input']">
        Generate
      </button>
    </form>
    <div id="output"></div>
    </body>
</html>